<h1>Vote for one</h1>

<form method="GET" action="/vote/scout">
    <button type="submit">Scout</button>
</form>

<form method="GET" action="/vote/toby">
    <button type="submit">Toby</button>
</form>